
/* Titulo da pag com a linha laranja0 */
.containerTitulo{
    width: 100%;
    height: auto;
    display:flex;
    flex-direction: column;
    padding: 20px 0px 35px 0px;
    gap: 5px;
}

.titulo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
}

    .titulo p {
        font-size: 35px;
        font-weight: 600;
        margin: 0px !important;
    }

.containerLinhaLaranja {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.linhaLaranja {
    width: 400px;
    height: 10px;
    background-color: #ECA256;
}

/*Texto de alerta de adoção*/

.containerTexto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #536038;
    padding: 20px;
}

.texto , .textoMaior {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

    .texto p {
        font-size: 20px;
        font-weight: 500;
        margin: 0px !important;
        color: aliceblue;
    }

    .textoMaior p {
        font-size: 25px;
        font-weight: 500;
        margin: 0px !important;
        color: aliceblue;
    }

/*Filtro de pesquisa*/

.containerCorpoPag {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.containerFiltro {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 30px 50px;
    gap: 10px;
}

.inputPesquisar {
    width: 275px;
    height: 55px;
    background-color: antiquewhite;
    border: 2px solid #6C584D;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative; 
}

    .inputPesquisar input {
        background-color: antiquewhite;
        color: black;
        font-size: 20px;
        border: none;
        padding-right: 50px; 
        width: 100%;
        height: 100%;
        box-sizing: border-box; 
    }

    .inputPesquisar .imgLupa {
        position: absolute;
        right: 10px; 
        top: 50%; 
        transform: translateY(-50%); 
    }

        .inputPesquisar .imgLupa img {
            width: 30px; 
            height: auto; 
        }

    .inputPesquisar input::placeholder {
        color: black;
    }

.escolher {
    width: 275px;
    height: 55px;
    background-color: antiquewhite;
    font-size: 20px;
    border: 2px solid #6C584D;
    border-radius: 10px;
}

    .escolher:focus {
        font-size: 20px;
        border: 2px solid #6C584D;
        border-radius: 10px;
    }

.containerButton button {
    width: 275px;
    height: 55px;
    background-color: #6C584D;
    color:aliceblue;
    font-size: 20px;
    border-radius: 10px;
}
