.cadastro {
    margin: 0 auto;
    width: 40vw;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.item_cadastro {
    width: 100%;
}

    .item_cadastro input {
        color: #fff;
        font-size: 1.1em;
        padding: 6px;
        background-color: var(--verde-claro);
        width: 100%;
        margin-bottom: 10px;
    }

        .item_cadastro input::placeholder {
            color: #fff;
            text-transform: lowercase;
        }

        .item_cadastro input:focus {
            background-color: white;
            text-transform: lowercase;
            color: #000;
            transition: 0.5s;
        }

            .item_cadastro input:focus::placeholder {
                color: #000;
            }

    .item_cadastro label {
        text-transform: uppercase;
        font-weight: 700;
    }

button {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0;
    text-transform: uppercase;
    background-color: var(--verde-escuro);
    border: none;
    border-radius: 1rem;
    background: #536036;
    padding: 6px 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}