.cadastro {
    margin: 0 auto;
    width: 40vw;
}

h2 {
    font-size: 2em;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.item_cadastro {
    width: 100%;
}

    .item_cadastro input {
        color: #fff;
        font-size: 1.1em;
        padding: 6px;
        background-color: var(--verde-claro);
        width: 100%;
        margin-bottom: 10px;
    }

        .item_cadastro input::placeholder {
            color: #fff;
            text-transform: lowercase;
        }

        .item_cadastro input:focus {
            background-color: white;
            text-transform: lowercase;
            color: #000;
            transition: 0.5s;
        }

            .item_cadastro input:focus::placeholder {
                color: #000;
            }

    .item_cadastro label {
        text-transform: uppercase;
        font-weight: 700;
    }

button {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0;
    text-transform: uppercase;
    background-color: var(--verde-escuro);
    border: none;
    border-radius: 1rem;
    background: #536036;
    padding: 6px 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/*começo da tabela*/
table {
    border-collapse: collapse;
    border: 2px solid #ffffff;
    font-family: 'Poppins';
    font-size: 0.8rem;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
    text-align: center;
}

thead,
tfoot {
    background-color: #ffffff;
}

th,
td {
    color: #536036;
    border: 1px solid #536036;
    padding: 8px 10px;
}

    td:last-of-type {
        text-align: center;
    }

tbody > tr:nth-of-type(even) {
    background-color: #536036;
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}

/*config nav-bar descendo*/
.dropdown-content {
    display: none;
    position: absolute;
    margin-left: 100px;
    background-color: #f9f9f9;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

    /*dentro do dropdown*/
    .dropdown-content a {
        float: none;
        color: black;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        /*hover cinza escuro ao selecionar*/
        .dropdown-content a:hover {
            color: #C05C35;
            background-color: #f5f4f4;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

/*input do cód*/
#input {
    padding: 5px;
    margin-left: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

/*texto do cód*/
#cod {
    text-align: center;
}

/*texto "não sabe o cód"*/
#little {
    font-weight: bold;
    text-align: right;
    font-size: 10px;
}

/*destaque href*/
#laranjinha {
    color: #ECA256;
    font-weight: bold;
    text-align: right;
    text-decoration: underline;
}

/*alinhamento do texto pra direita*/
.text {
    margin-right: 80px;
}

.editar {
    vertical-align: top;
    margin-left: 740px;
}
