@{
    TempData["NavBar"] = "adm";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/alterar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>ePet - Alterar Pet</title>
</head>
<body>
   
    <main>
        <form method="post" class="cadastro" asp-action="AlterarAnimal">
            <br>
            <h2>ALTERAR DADOS DO PET</h2>
            <br><br>
            <div class="input_center">
                <h3 id="cod">Informe o código do animal a ser alterado: <input type="text" class="input_field" id="input" name="cod_animal" /></h3>
                <br>
                <p class="" id="little">Não sabe o código? <a id="laranjinha" asp-action="PesquisaPet">Pesquise aqui!</a></p>
                <br>
            </div>

            <div class="item_cadastro">
                <label>NOME:</label>
                <div class="input">
                    <input type="text" id="editar" name="nome" />
                </div>
            </div>

            <div class="item_cadastro">
                <label>TIPO SANGUÍNEO:</label>
                <input type="text" class="input_field" name="T_sanguineo" />
            </div>

            <div class="item_cadastro">
                <label>AUTORIDADE RESPONSÁVEL:</label>
                <input type="text" class="input_field" name="autoridade_responsavel" />
            </div>
            <div class="item_cadastro">
                <label>STATUS:</label>
                <input type="text" class="input_field" name="status" />
            </div>

            <p id="alerta"></p>
            <button type="submit">ALTERAR</button>
        </form>
    </main>

    <script src="~/js/geral.js"></script>
    <script src="~/js/menu-hamburguer.js"></script>
</body>
</html>