@{
    TempData["NavBar"] = "adm";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/deletar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>ePet - Alterar Pet</title>
</head>
<body>
    <main>
        <form method="post" class="cadastro" asp-controller="HomeADM" asp-action="DeletarAnimal">
            <br>
            <h2>DELETAR DADOS DO PET</h2>
            <br><br>
            <div class="input_center">
                <h3 id="cod">Informe o código do animal a ser deletado: <input type="text" class="input_field" id="input" name="cod_animal" /></h3>
                <br>
                <p class="text" id="little">Não sabe o código? <a id="laranjinha" asp-action="PesquisaPet">Pesquise aqui!</a></p>
                <br>
            </div>
            <br>
            <table>
                <thead>
                    <tr>
                        <th scope="col">CÓD</th>
                        <th scope="col">RAÇA</th>
                        <th scope="col">TIPO SANGUE</th>
                        <th scope="col">ID RESP.</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">TIPO ANIMAL</th>
                        <th scope="col">CPF DONO</th>
                    </tr>
                </thead>
                <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tbody>
            </table>
            <button type="submit">DELETAR</button>
        </form>
    </main>
</body>
</html>