@model ePet.Models.Animais

@{

    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/editarUser.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>Editar Usuário</title>
</head>

<body>
    <main>
        <div class="tituloPes">
            <p>Editar Animais</p>
        </div>

        @if (Model == null)
        {
            <div class="alerta">
                <p>Usuário não encontrado.</p>
            </div>
        }
        else
        {
            <div class="containerInputs">
                <form method="post" action="@Url.Action("AtualizarAnimal", "HomeADM")">
                    <!-- Código do animal -->


                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Codigo Animal:</p>
                            </div>
                            <input type="text" class="input_field" name="CodAnimal" value="@Model?.CodAnimal" required placeholder="" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Nome:</p>
                            </div>
                            <input type="text" class="input_field" name="Nome" value="@Model?.Nome" required placeholder="Nome" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Idade:</p>
                            </div>
                            <input type="text" class="input_field" name="Idade" value="@Model?.Idade" required placeholder="Idade" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Espécie:</p>
                            </div>
                            <input type="text" class="input_field" name="T_Animal" value="@Model?.T_Animal" required placeholder="Espécie" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Comportamento:</p>
                            </div>
                            <input type="text" class="input_field" name="Comportamento" value="@Model?.Comportamento" required placeholder="Comportamento" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Castracao:</p>
                            </div>
                            <input type="text" class="input_field" name="Castracao" value="@Model?.Castracao" required placeholder="Castracao" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Status:</p>
                            </div>
                            <input type="text" class="input_field" name="Status" value="@Model?.Status" required placeholder="Status" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Peso:</p>
                            </div>
                            <input type="text" class="input_field" name="Peso" value="@Model?.Peso" required placeholder="Peso" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Raça:</p>
                            </div>
                            <input type="text" class="input_field" name="Raca" value="@Model?.Raca" required placeholder="Raça" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Porte:</p>
                            </div>
                            <input type="text" class="input_field" name="Porte" value="@Model?.Porte" required placeholder="Porte" />
                        </div>
                    </div>

                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Sexo:</p>
                            </div>
                            <input type="text" class="input_field" name="Sexo" value="@Model?.Sexo" required placeholder="Sexo" />
                        </div>
                    </div>

                    <div class="containerButton">
                        <button type="submit">Atualizar Animal</button>
                    </div>
                </form>
            </div>
        }
    </main>
    <script src="~/js/validacoes.js"></script>
</body>

</html>
