@model ePet.Models.Usuarios


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/editarUser.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>Editar Usuário</title>
</head>

<body>
    <main>
        <div class="tituloPes">
            <p>Editar Usuário</p>
        </div>

        @if (Model == null)
        {
            <div class="alerta">
                <p>Usuário não encontrado.</p>
            </div>
        }
        else
        {
            <div class="containerInputs">
                <form method="post" action="@Url.Action("AtualizarUsuario", "HomeADM")">
                    <!-- Campo Nome -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Nome:</p>
                            </div>
                            <input type="text" class="input_field" name="nome" value="@Model?.Nome" required placeholder="NOME" />
                        </div>
                    </div>

                    <!-- Campo Telefone -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Telefone:</p>
                            </div>
                            <input type="text" class="input_field" name="telefone" value="@Model?.Telefone" required placeholder="TELEFONE" />
                        </div>
                    </div>

                    <!-- Campo CPF -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>CPF:</p>
                            </div>
                            <input type="text" class="input_field" name="cpf" value="@Model?.Cpf" required placeholder="CPF" />
                        </div>
                    </div>

                    <!-- Campo Email -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Email:</p>
                            </div>
                            <input type="email" class="input_field" name="email" value="@Model?.Email" required placeholder="EMAIL" />
                        </div>
                    </div>

                    <!-- Campo Data de Nascimento -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Data de nascimento:</p>
                            </div>
                            <input type="date" class="input_field" name="dataNasc" value="@Model?.DataNasc" required />
                        </div>
                    </div>

                    <!-- Campo CEP -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>CEP:</p>
                            </div>
                            <input type="text" class="input_field" name="cep" value="@Model?.Cep" required placeholder="CEP" />
                        </div>
                    </div>

                    <!-- Campo Cidade -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Cidade:</p>
                            </div>
                            <input type="text" class="input_field" name="cidade" value="@Model?.Cidade" required placeholder="CIDADE" />
                        </div>
                    </div>

                    <!-- Campo Bairro -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Bairro:</p>
                            </div>
                            <input type="text" class="input_field" name="bairro" value="@Model?.Bairro" required placeholder="BAIRRO" />
                        </div>
                    </div>

                    <!-- Campo Rua -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Rua:</p>
                            </div>
                            <input type="text" class="input_field" name="rua" value="@Model?.Rua" required placeholder="RUA" />
                        </div>
                    </div>

                    <!-- Campo Complemento -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Complemento:</p>
                            </div>
                            <input type="text" class="input_field" name="complemento" value="@Model?.Complemento" required placeholder="COMPLEMENTO" />
                        </div>
                    </div>

                    <!-- Campo Senha -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Senha:</p>
                            </div>
                            <input type="password" class="input_field" name="senha" required placeholder="SENHA" id="senha" />
                        </div>
                    </div>

                    <!-- Campo Confirmar Senha -->
                    <div class="item_cadastro">
                        <div class="containerICadastro">
                            <div class="descricaoInput">
                                <p>Confirme sua senha:</p>
                            </div>
                            <input type="password" class="input_field" name="confirme" required placeholder="CONFIRME SUA SENHA" id="confirme" />
                        </div>
                    </div>

                    <!-- Botão de Atualização -->
                    <div class="containerButton">
                        <button type="submit">Atualizar Usuário</button>
                    </div>
                </form>
            </div>
        }
    </main>
    <script src="~/js/validacoes.js"></script>
</body>

</html>
