@{
    TempData["NavBar"] = "adm";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pesquisaP.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>ePet - Pesquisar Denúncia</title>
</head>

<body>
    <main>
        <form action="" class="cadastro">
            <br>
            <h2>PESQUISA DENÚNCIA</h2>
            <br><br>
            <h3 id="cod">Informe o código da denúncia a ser pesquisada: <input type="text" class="input_field" id="input" nome="cod_disk" /></h3>
            <br>
            <br>
            <table>
                <thead>
                    <tr>
                        <th scope="col">CÓD</th>
                        <th scope="col">DATA</th>
                        <th scope="col">END.</th>
                        <th scope="col">DESC.</th>
                        <th scope="col">IMG</th>
                        <th scope="col">TELEFONE</th>
                    </tr>
                </thead>
                <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tbody>
            </table>
            <br>
            <button type="submit" id="botao">PESQUISAR</button>
            <button type="submit" id="botao">LISTAR</button>
        </form>
    </main>
</body>
</html>
