@{
    TempData["NavBar"] = "adm";
    Usuarios user = new Usuarios(null, null, null, null, null, null, null, null, null, null, null);
    user = (Usuarios)ViewBag.user;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pesquisaP.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>ePet - pesquisar Usuário</title>
</head>
<body>
    <main>

        <div class="tituloPes">
            <p>Todos os Usuários!</p>
        </div>
        <form method="post" class="cadastro" asp-action="ListarAnimal">
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">NOME</th>
                            <th scope="col">CPF</th>
                            <th scope="col">EMAIL</th>
                            <th scope="col">SENHA</th>
                            <th scope="col">DATA NASC.</th>
                            <th scope="col">CEP</th>
                            <th scope="col">CIDADE</th>
                            <th scope="col">BAIRRO</th>
                            <th scope="col">RUA</th>
                            <th scope="col">COMPLEMENTO</th>
                            <th scope="col">TELEFONE</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="exEd">
                        <img src="~/img/image 62.png" />
                        <img src="~/img/image 63.png" />
                    </td>

                    </tbody>
                </table>
            </div>
        </form>
    </main>
</body>
</html>
