/* Remove a margem padrão dos parágrafos */
p {
    margin: 0 !important;
}

/* Estiliza o contêiner principal */
.containerImgPrinc {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: relative;
}

/* Estiliza o contêiner da imagem */
.fotoCachorro {
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; 
    overflow: hidden; 
}

    /* Estiliza a imagem */
    .fotoCachorro img {
        display: block;
        width: 1250px;
        height: auto; 
        max-width: 100%; 
        height: auto; 
    }

/*Estiliza a descrição de como funciona*/
.containerExplicacao{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
}

.todaExplicacao {
    background-color: #536038;
    padding: 35px 85px;
}

.titulo, .explicacao1, .explicacao2, .explicacao3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 25px 0px;
}

.titulo p, .explicacao1 p, .explicacao2 p, .explicacao3 p{
    color: aliceblue;
}

.titulo p{
    font-size: 35px;
    font-weight: bold;
}

.explicacao1 p, .explicacao2 p, .explicacao3 p{
    font-size: 25px;
    font-weight: 500;
}

/*Estilizar parte de doar dindin*/

.containerTituloA {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.tituloA {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tituloA p{
    font-size: 35px;
    font-weight: 700;
}

.linhaLaranja {
    width: 500px;
    height: 10px;
    background-color: #ECA256;
}

/*Estilização dos cards doação*/
.containerCardsPets {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.containerLinha {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 30px;
}
.cardVerde,
.cardLaranja {
    width: 370px;
    height: 450px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 5px;
    cursor: pointer;
    transition: transform 0.4s ease; 
}

.cardVerde {
    background-color: #536038;
}

.cardLaranja {
    background-color: #ECA256;
}

    .cardVerde:hover,
    .cardLaranja:hover {
        transform: scale(1.05); 
    }

.cardVerde p {
    color: aliceblue;
    font-size: 20px;
}

.cardLaranja p {
    font-size: 20px;
}


.containerPreco p{
    font-size: 55px !important;
    font-weight: 700;
}

/*ESTILIZAÇÃO RESPONSIVAAAAA*/
@media screen and (max-width: 890px ) {
    .titulo p {
        font-size: 25px;
        font-weight: bold;
    }

    .explicacao1 p, .explicacao2 p, .explicacao3 p {
        font-size: 15px;
        font-weight: 500;
    }

    .todaExplicacao {
        background-color: #536038;
        padding: 15px 50px;
    }

    .tituloA p {
        font-size: 25px;
    }

    .linhaLaranja {
        width: 350px;
        height: 10px;
    }

}

@media screen and (max-width: 450px ) {
    .titulo p {
        font-size: 15px;
        font-weight: bold;
    }

    .explicacao1 p, .explicacao2 p, .explicacao3 p {
        font-size: 10px;
        font-weight: 500;
    }

    .todaExplicacao {
        background-color: #536038;
        padding: 10px;
    }

    .tituloA p {
        font-size: 20px;
    }

    .linhaLaranja {
        width: 300px;
        height: 10px;
    }
}
