@{
    TempData["NavBar"] = "user";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/adote.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <title>ePet - Início</title>
</head>
<body>
    <main>
       
    </main>

    <script src="~/js/geral.js"></script>
    <script src="~/js/menu-hamburguer.js"></script>

</body>
</html>
