@{
    TempData["NavBar"] = "user";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/adote.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true"/>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <title>ePet - Início</title>
</head>
<body>
    <main>

        <div class="containertituloPag">
            <div class="tituloPag">
        <h2>ADOTE AQUI!</h2>
        <div class="linhaLaranja"></div>
            </div>
        </div>

        <section class="container-grid">
            <div class="container-elemento-grid">
                <div class="card">
                    <div class="card-front">
                        <img src="~/img/cachorro.jpeg" alt="">
                    </div>
                    <div class="card-back">
                        <p>NOME</p>
                        <p>IDADE</p>
                        <p>TIPO ANIMAL</p>
                        <p>TIPO SANGUÍNEO</p>
                        <button><a asp-controller="Adote" asp-action="Adocao">ADOTE AQUI</a></button>
                    </div>
                </div>
            </div>

            <div class="container-elemento-grid">
                <div class="card">
                    <div class="card-front">
                        <img src="~/img/gato-adocao.jpeg" alt="">
                    </div>
                    <div class="card-back">
                        <p>NOME</p>
                        <p>IDADE</p>
                        <p>TIPO ANIMAL</p>
                        <p>TIPO SANGUÍNEO</p>
                        <button><a asp-controller="Adote" asp-action="Adocao">ADOTE AQUI</a></button>
                    </div>
                </div>
            </div>

            <div class="container-elemento-grid">
                <div class="card">
                    <div class="card-front">
                        <img src="~/img/papagaio.jpeg" alt="">
                    </div>
                    <div class="card-back">
                        <p>NOME</p>
                        <p>IDADE</p>
                        <p>TIPO ANIMAL</p>
                        <p>TIPO SANGUÍNEO</p>
                        <button><a asp-controller="Adote" asp-action="Adocao">ADOTE AQUI</a></button>
                    </div>
                </div>
            </div>

            <div class="container-elemento-grid">
                <div class="card">
                    <div class="card-front">
                        <img src="~/img/cachorro.jpeg" alt="">
                    </div>
                    <div class="card-back">
                        <p>NOME</p>
                        <p>IDADE</p>
                        <p>TIPO ANIMAL</p>
                        <p>TIPO SANGUÍNEO</p>
                        <button><a asp-controller="Adote"asp-action="Adocao">ADOTE AQUI</a></button>
                    </div>
                </div>
            </div>

            <div class="container-elemento-grid">
                <div class="card">
                    <div class="card-front">
                        <img src="~/img/gato-adocao.jpeg" alt="">
                    </div>
                    <div class="card-back">
                        <p>NOME</p>
                        <p>IDADE</p>
                        <p>TIPO ANIMAL</p>
                        <p>TIPO SANGUÍNEO</p>
                        <button><a asp-controller="Adote" asp-action="Adocao">ADOTE AQUI</a></button>
                    </div>
                </div>
            </div>

            <div class="container-elemento-grid">
                <div class="card">
                    <div class="card-front">
                        <img src="~/img/papagaio.jpeg" alt="">
                    </div>
                    <div class="card-back">
                        <p>NOME</p>
                        <p>IDADE</p>
                        <p>TIPO ANIMAL</p>
                        <p>TIPO SANGUÍNEO</p>
                        <button><a asp-controller="Adote" asp-action="Adocao">ADOTE AQUI</a></button>
                    </div>
                </div>
            </div>

        </section>
    </main>

    <script src="~/js/geral.js"></script>
    <script src="~/js/menu-hamburguer.js"></script>

</body>
</html>
