@model IEnumerable<ePet.Models.Animais>

@{
    ViewData["Title"] = "ListarAnimais";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/adote.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <title>ePet - Início</title>
</head>
<header>

    <div class="menu-hamburguer">
        <div class="linha1"></div>
        <div class="linha2"></div>
        <div class="linha3"></div>
    </div>

    <nav class="navbar">
        <div class="imgEpet">
            <a asp-controller="Home" asp-action="Index"><img src="~/img/logo-sem-fundo.png" alt=""></a>
        </div>
        <ul class="nav-filhos">
            <li><a class="preto" asp-controller="Home" asp-action="Apadrinhe"><img src="~/img/pata-logo.png" /> APADRINHE</a></li>
            <li><a class="preto" asp-controller="Home" asp-action="Adote"><img src="~/img/pata-logo.png" />ADOÇÃO</a></li>
            <li><a class="preto" asp-controller="Home" asp-action="Entrar"><img src="~/img/pata-logo.png" />ENTRAR</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <!-- Container do Título -->
        <div class="containerTitulo">
            <div class="titulo">
                <p>ADOTE UM AMIGO</p>
            </div>
            <div class="containerLinhaLaranja">
                <div class="linhaLaranja"></div>
            </div>
        </div>

        <!-- Container de Texto -->
        <div class="containerTexto">
            <div class="texto">
                <p>A expectativa de vida de um cão ou gato é de aproximadamente 15 anos.</p>
                <p>Eles precisarão de sua proteção e atenção até a velhice ou em uma eventual doença!</p>
            </div>
            <div class="textoMaior">
                <p>Adoção é assunto sério!</p>
            </div>
        </div>

        <!-- Container do Corpo da Página -->
        <div class="containerCorpoPag">
            <!-- Container de Filtro -->
            <div class="containerFiltro">
                <div class="inputPesquisar">
                    <input type="text" placeholder="Pesquise aqui..." />
                    <div class="imgLupa">
                        <img src="~/img/image 26.png" />
                    </div>
                </div>
                <select class="escolher" id="espécie" name="Espécie">
                    <option value="" disabled selected>Selecione a Espécie</option>
                    <option value="felina">Felina</option>
                    <option value="canina">Canina</option>
                </select>
                <select class="escolher" id="sexo" name="Sexo">
                    <option value="" disabled selected>Selecione o Sexo</option>
                    <option value="femea">Fêmea</option>
                    <option value="macho">Macho</option>
                </select>
                <select class="escolher" id="porte" name="Porte">
                    <option value="" disabled selected>Selecione o Porte</option>
                    <option value="pequeno">Pequeno (até 12kg)</option>
                    <option value="medio">Médio (de 13kg até 25kg)</option>
                    <option value="grande">Grande (Acima de 25kg)</option>
                </select>
                <select class="escolher" id="idade" name="Idade">
                    <option value="" disabled selected>Selecione a Idade</option>
                    <option value="menos_de_3_anos">Menos de 3 anos</option>
                    <option value="de_4_a_6">De 4 anos até 6</option>
                    <option value="de_7_a_9">De 7 até 9</option>
                    <option value="acima_de_9">Acima de 9</option>
                </select>
                <div class="containerButton">
                    <button>PESQUISAR</button>
                </div>
            </div>

            <!-- Container de Pets -->
            <div class="containerPets">
                <div class="perfilLinha">
                    @foreach (var item in Model)
                    {
                        <div class="containerPerfil">
                            <div class="fotoPet">
                                @if (!string.IsNullOrEmpty(item.ImageBase64))
                                {
                                    <img src="data:image/jpeg;base64,@item.ImageBase64" alt="Imagem do animal" />
                                }
                                else
                                {
                                    <img src="~/img/placeholder.png" alt="Imagem padrão" />
                                }
                            </div>
                            <div class="containerDescricao">
                                <div class="infoPrincipal">
                                    <div class="nomePet">
                                        <p>@item.Nome</p>
                                        <div class="linhaLaranjaNome"></div>
                                    </div>
                                    @if (item.Sexo == "macho")
                                    {
                                        <img src="~/img/sexo-masculino.png" alt="Ícone masculino" />
                                    }
                                    else if (item.Sexo == "femea")
                                    {
                                        <img src="~/img/image 17.png" alt="Ícone feminino" />
                                    }
                                </div>
                                <div class="descricao">
                                    <p>@item.Comportamento</p>
                                </div>
                                <div class="buttonAdote">
                                    <a asp-controller="Home" asp-action="TelaPet" asp-route-codigo_animal="@item.CodAnimal">
                                        <button type="button" class="btn btn-primary">VER MAIS</button>
                                    </a>

                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </main>

    <script src="~/js/geral.js"></script>
    <script src="~/js/menu-hamburguer.js"></script>
</body>
</html>
