@{
    TempData["NavBar"] = "user";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/apadrinhe.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <title>Apadrinhamento</title>
</head>
<body>
    <main>
        <div class="containerImgPrinc">
            <div class="fotoCachorro">
                <img src="~/img/cachorrotriste.PNG" />
            </div>
        </div>
        <div class="containerExplicacao">
            <div class="todaExplicacao">
            <div class="titulo">
                    <p>COMO FUNCIONA?</p>
            </div>
            <div class="explicacao1">
                    <p>Apadrinhamento significa tornar-se padrinho ou madrinha de um ou de vários </p>
                    <p>animais abrigados sem precisar levá-lo para casa, o bichinho continuará morando </p>
                    <p>em nosso abrigo. Esta é uma ótima opção para quem gostaria de ajudar o nosso </p>
                    <p>Projeto, mas não tem condições de adotar.</p>
            </div>
            <div class="explicacao2">
                    <p>Não é obrigatória a escolha de um animal, você poderá definir o apadrinhamento </p>
                    <p>como genérico, ou seja, para todos. Você também pode apadrinhar quantos animais</p>
                    <p>desejar.</p>
            </div>
            <div class="explicacao3">
                    <p>Você pode fazer a diferença na vida de um animalzinho carente, basta apenas </p>
                    <p>começar. Dê a um deles a chance de ser feliz!</p>
            </div>
        </div>
        </div>





    </main>
</body>
</html>

