@{
    TempData["NavBar"] = "user";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/apadrinhe.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">

    <title>Apadrinhamento</title>
</head>
<body>
    <main>
        <div class="containerImgPrinc">
            <div class="fotoCachorro">
                <img src="~/img/cachorrotriste.PNG" />
            </div>
        </div>
        <div class="containerExplicacao">
            <div class="todaExplicacao">
            <div class="titulo">
                    <p>COMO FUNCIONA?</p>
            </div>
            <div class="explicacao1">
                    <p>Apadrinhamento significa tornar-se padrinho ou madrinha de um ou de vários </p>
                    <p>animais abrigados sem precisar levá-lo para casa, o bichinho continuará morando </p>
                    <p>em nosso abrigo. Esta é uma ótima opção para quem gostaria de ajudar o nosso </p>
                    <p>Projeto, mas não tem condições de adotar.</p>
            </div>
            <div class="explicacao2">
                    <p>Não é obrigatória a escolha de um animal, você poderá definir o apadrinhamento </p>
                    <p>como genérico, ou seja, para todos. Você também pode apadrinhar quantos animais</p>
                    <p>desejar.</p>
            </div>
            <div class="explicacao3">
                    <p>Você pode fazer a diferença na vida de um animalzinho carente, basta apenas </p>
                    <p>começar. Dê a um deles a chance de ser feliz!</p>
            </div>
        </div>
        </div>

        <div class="containerTituloA">
            <div class="tituloA">
                <p>QUERO APADRINHAR UM PET</p>
                <div class="linhaLaranja"></div>
            </div>
        </div>

        <div class="containerCardsPets">
            <div class="containerLinha">
                <div class="cardVerde">
                    <img src="~/img/cachorroiconbranco.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$50,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você da banho em um pet</p>
                </div>

                <div class="cardLaranja">
                    <img src="~/img/cachorroiconpreto.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$30,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você vermifuga um pet</p>
                </div>

                <div class="cardVerde">
                    <img src="~/img/cachorroiconbranco.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$50,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você alimenta um pet pequeno</p>
                </div>
            </div>
            <div class="containerLinha">
                <div class="cardLaranja">
                    <img src="~/img/cachorroiconpreto.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$100,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você alimenta um pet grande</p>
                </div>

                <div class="cardVerde">
                    <img src="~/img/cachorroiconbranco.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$150,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você alimenta um pet grande</p>
                </div>

                <div class="cardLaranja">
                    <img src="~/img/cachorroiconpreto.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$250,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você ajuda a castrar um pet</p>
                </div>
            </div>

            <div class="containerLinha">
                <div class="cardVerde">
                    <img src="~/img/cachorroiconbranco.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$350,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você ajuda a resgatar um pet</p>
                </div>

                <div class="cardLaranja">
                    <img src="~/img/cachorroiconpreto.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$500,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você alimenta muitos pets</p>
                </div>

                <div class="cardVerde">
                    <img src="~/img/cachorroiconbranco.png" />
                    <p>com</p>
                    <div class="containerPreco">
                        <p>R$1.000,00</p>
                        <p>por mês</p>
                    </div>
                    <p>Você ajuda a resgatar 3 pets</p>
                </div>
            </div>
        </div>





    </main>
</body>
</html>

