@{
    TempData["NavBar"] = "adm";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/homeADM.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>Home ADM - ePet</title>
</head>
<body>

    <main>
        <section class="slogan anime">
            <img src="~/img/banneradm.png" alt="">
        </section>
        <br><br><br><br>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/js/geral.js"></script>
    <script src="~/js/menu-hamburguer.js"></script>
</body>
</html>