@{
    TempData["NavBar"] = "user";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true"/>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <title>ePet - Início</title>
</head>
<body>
    <main>
        <div class="containerSlider">
            <div class="slider">
                <div class="slides">
                    <input type="radio" name="radio-btn" id="radio1" checked />
                    <input type="radio" name="radio-btn" id="radio2" />
                    <input type="radio" name="radio-btn" id="radio3" />

                    <div class="slide first anime">
                        <img src="~/img/cachorrogato2.png" alt="" />
                        <div class="containerAdocao">
                            <p>Venha conhecer os animais epet!</p>
                            <center>
                                <a asp-controller="Home" asp-action="Adote"><button>Veja!</button></a>
                            </center>
                        </div>
                    </div>

                    <div class="slide">
                        <img src="~/img/cachorrogato1.png" alt="" />
                    </div>

                    <div class="slide">
                        <img src="~/img/cachorrogato3.PNG" alt="" />
                    </div>
                </div>

                <div class="navigation-bar">
                    <center>
                    <label class="manual-btn" for="radio1"></label>
                    <label class="manual-btn" for="radio2"></label>
                    <label class="manual-btn" for="radio3"></label>
                    </center>
                </div>
            </div>
        </div>
        <script>

            document.addEventListener('DOMContentLoaded', function () {
                // Seleciona todos os botões de rádio
                const radioButtons = document.querySelectorAll('input[name="radio-btn"]');
                let currentIndex = 0;

                function changeSlide() {
                    // Desmarca o botão de rádio atual
                    radioButtons[currentIndex].checked = false;
                    // Move para o próximo índice
                    currentIndex = (currentIndex + 1) % radioButtons.length;
                    // Marca o próximo botão de rádio
                    radioButtons[currentIndex].checked = true;
                }

                // Altera o slide a cada 6 segundos
                setInterval(changeSlide, 6000);
            });

        </script>



        <section>
            <div class="containerPerguntas">
            <h2 class="frequentes anime">Perguntas Frequentes</h2>
            <div class="containerLinhaLaranja">
            <div class="linhaLaranja anime"></div>
                </div>
            </div>

            <div class="perguntas">
                <div class="pergunta anime">
                    <div class="faq">
                        <p class="abrir" id="abrir-1">
                            +
                        </p>
                        <h3>Quem somos? Qual nosso objetivo?</h3>
                    </div>

                    <p class="resposta escondido">
                        Nós somos um grupo de estudantes do curso técnico de Desenvolvimento de Sistemas da instutuição Senai Zerbini. Assim, nosso objetivo inicialmente era desenvolver apenas um projeto com fins avaliativos mas pelo pontencial do que se foi desenvolvido encontramos a oportunidade de fazer a diferença em pro da qualidade de vida animal.
                    </p>
                </div>

                <div class="pergunta anime">
                    <div class="faq">
                        <p class="abrir" id="abrir-1">
                            +
                        </p>
                        <h3>Onde queremos chegar?</h3>
                    </div>

                    <p class="resposta escondido anime">
                        Com o ePet, pretendemos alcançar maior conscientização da população, afim de proteger os animais quais não possuem respaldo necessário, nem respeito aos seus direitos como seres vivos.
                    </p>
                </div>

                <div class="pergunta anime">
                    <div class="faq">
                        <p class="abrir" id="abrir-1">
                            +
                        </p>
                        <h3>Como posso compartilhar?</h3>
                    </div>

                    <p class="resposta escondido">
                        Que tal compartilhar nossa missão com amigos e familiares? Divulgar nosso trabalho nas redes sociais e falar sobre a adoção responsável pode ampliar nosso alcance e impactar mais vidas.Sua voz pode influenciar e garantir que mais animais tenham a chance de encontrar um lar amoroso. 
                </div>

            </div>

        </section>
    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/js/geral.js"></script>
    <script src="~/js/faq.js"></script>
    <script src="~/js/menu-hamburguer.js"></script>
    <script src="~/js/slider.js"></script>


</body>
</html>