@page
@model ePet.Views.Home.TelaPetModel
@{
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/identidade.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/css/perfilPet.css" asp-append-version="true" />

    <title>Perfil do Pet</title>
</head>
<body>
    <main>








    </main>
</body>
</html>


